<h2 class="bg-danger mb-1 p-2 text-white">Acceso Denegado</h2>
<!-- Al presionar OK nos dirige al metodo Index - Controlador(HOME) -->
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>
